<html>
<head>
<title>Profile</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
	<div class="main">
	<div class="shapka"><a href="/logout/">Log out</a></div>
	<div class="lower">
	<div class="container">
		<div class="top">
		<div class="photo">
		<img src="../../static/img/avatar.png" class="image"></img>
		</div>
		<div class="info">
		<p class="username">{{username}}</p>
		<p>{{email}}</p>
		{% if lname -%}
		<p>{{lname}}</p>
		{% endif %}
		{% if fname -%}
		<p>{{fname}}</p>
		{% endif %}
		</div>
		</div>
         </div>
    	</div>
    	</div>
</body>
</html>
