body {
    background-image: url("/static/img/auth_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form-content {
    width: 45rem;
    margin: auto;
    margin-top: 3rem;
    box-shadow: 2px 2px 10px #333;
}

.welcome-panel {
    flex: 4;
    text-align: center;
    padding: 10px 20px;
    box-shadow: inset 0 0 0 1000px #ff9933cc;
    background-image: url("/static/img/welcome_panel_background.jpg");
    color: #fff;
    text-shadow: 1px 1px 1px #333;
}

form {
    background: #fff;
    flex: 5;
    padding: 10px 20px;
}

label {
    margin: .2rem 0;
}

.center-content {
    text-align: center;
}

.btn {
    display: block;
    width: 50%;
    margin: .5rem auto;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: #212529;
    transition-duration: .3s;
}

a:hover {
    color: #FFCC99;
    transition-duration: .3s;
}

.active {
    color: #FF9933;
    pointer-events: none;
}